.App {
  text-align: center;
  min-width: 400px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 170px;
  padding: 20px;
  color: white;
  width: 100%;
}

.App-footer {
  background-color: #222;
  height: 35px;
  padding: 5px;
  color: rgb(121, 120, 120);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-frame{
  padding:10px;
}

.main-container{
  max-width: 960px;
  min-width: 400px;
  margin: 25px auto 50px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* height: 580px; */
  box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 15px -4px rgba(31, 73, 125, 0.8);
  background-color: #dae6f2;
}

.setting-container{
  flex: 1000 1 auto;
  display: flex;
  flex-direction: column;
}

.simulation-container {
  flex: 1 0 auto;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  /* width: 100%; */
}

