.atm-layer {
    /* background: #85b8da; */
    background-color: #dae6f2;
    height: 100%;
    border-radius: inherit;
    padding: 10px;
    box-shadow: -5px 5px 5px grey;
}

.push-above{
    margin-top: -10px;
}

.core-line{
    margin-top: 2em;
}

.layer-name{
    float: left;
}

.layer-tools{
    float:right;
}

.layer-button{
    /* background-color: #176699; */
    background-color: #4f97c5;
    border: none;
    border-radius: 5px;
    border: 3px solid;
    /* border-color: #176699; */
    border-color: #4f97c5;
    height: 28px;
    width: 28px;
    padding: 0px;
    margin: -3px -3px 0px 0px;
}

.layer-button:hover{
    
    background-color: inherit;
    cursor: pointer;
}